.main-container {
  height: 100vh;
}

mat-drawer-container {
  height: 93%;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * > * {
    width: 100%;
  }
}
